/* 
    Document   : default.css
    Created on : 25 oct. 2012, 22:41:53
    Author     : charlescoudrais
    Description:
        Purpose of the stylesheet follows.
*/

body {
    color: #696969;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}

#footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    border-top: 1px solid #CCC;
}
#footer p {
    margin: auto;
    width: 1000px;
    text-align: right;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
    padding: 6px;
}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 10px; }
h6 { font-size:  8px; }

span.span-h1 {font-size: 20px; color: #49a0df; /* #ff9900 */}

/* LINKS */
a { color: #0066ff; }
a:hover { color: #0033cc; }
a:active { color: #0066ff; }

a.add-links {
    color: #49a0df ; font-weight: bold; line-height: 28px;
    font-size: 14px; text-decoration: none;
}

/* BUTTONS */
.button {
    padding: 10px;
    color: #ffffff;
    background-color: #49a0df;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #cccccc;
    text-decoration: none;
}
.button:hover {
    color: #ffffff;
    background-color: #1f6ba2;
}
.article-btn {
    margin: 0; margin-left: 786px;
    padding: 0; padding-left: 4px; padding-top: 30px;
/*    border-left: 1px solid #ececec;*/
}
.action-content {
    float:left;
    margin-top: 10px;
    padding: 20px 0px 30px 0px;
    width: 780px;
    border-right: 1px solid #ececec;
}


.ul-btn-add li {
/*    height: 30px;
    line-height: 30px;*/
    /*vertical-align: baseline;*/
    border-bottom: 1px solid #ececec;
}

p, .article {
    padding: 6px;
}

#header {
    margin-bottom: 20px; 
    background-color: #696969;
    
}
#header-top {
    /*margin: 0 auto;*/
    /*width: 1000px;*/
    height: 50px;
}
h1#sitename {
    text-align: center;
    font-size: 20px;
}
h1#sitename>a {
    text-decoration: none;
    color: #EFEFEF;
}

/* NAVIGATION */
#nav {
    /*margin: 0 auto;*/
    /*width: 1000px;*/
    background-color: #696969;
    background-image: -moz-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -o-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -webkit-gradient(linear,left top,right bottom,from(#696969),color-stop(50.14%,#757575),to(#696969));
    background-image: -webkit-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -ms-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='FF696969',EndColorStr='FF696969');
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
}
#nav-content {
    margin: 0px auto;
    width: 1000px;
}
#nav>ul {
    margin-left: 100px;
    list-style-type: none;
}
#nav li:first-child {
    border-left: 1px solid #505050;
}
#nav li {
    float: left;
    padding: 6px 6px 6px 10px;
    height: 30px;
    min-width: 100px;
    line-height: 30px;
    text-align: left;
    background-color: #696969;
    background-image: -moz-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -o-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -webkit-gradient(linear,left top,right bottom,from(#696969),color-stop(50.14%,#757575),to(#696969));
    background-image: -webkit-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    background-image: -ms-linear-gradient(270deg,#696969 0.34%,#757575 50.14%,#696969 99.63%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='FF696969',EndColorStr='FF696969');

    border-right: 1px solid #505050;
}
#nav li:hover {
    background-color: #505050;
    background-image: -moz-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -o-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -webkit-gradient(linear,left top,right bottom,from(#505050),color-stop(50.13%,#696969),to(#505050));
    background-image: -webkit-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -ms-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='FF505050',EndColorStr='FF505050');
    cursor: pointer;
}
#nav li.active {
    color: #49a0df;
    background-color: #505050;
    background-image: -moz-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -o-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -webkit-gradient(linear,left top,right bottom,from(#505050),color-stop(50.13%,#696969),to(#505050));
    background-image: -webkit-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    background-image: -ms-linear-gradient(270deg,#505050 0.85%,#696969 50.13%,#505050 99.96%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='FF505050',EndColorStr='FF505050');
}
#nav li.active a {
    color: #79c4fb;
    font-size: 13px;
}
#nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#user-links {
    float: right;
    padding: 6px;
    padding-right: 16px;
    height: 30px;
    font-weight: bold;
    color: #00ff33;
    line-height:30px;
    cursor: default
}
#user-links>a {
    font-weight: bold;
    color: #00ff33;
}

#main {
    margin: 0px auto;
    width: 1000px;
    min-height: 450px;
}

/* BALLOON */
.balloon {
    
}
.balloon hr {
    margin: 10px 0px 5px 0px;
}
.ul-balloon {
    min-width: 180px;
    list-style-type: none;
}
.ul-balloon li {
    padding: 6px;
}
.ul-balloon li a {
    color: #00ff33;
}

/* PAGES */
.h1-page-title {
    margin-bottom: 10px;
    color: #49a0df;
    text-align: center;
    border-bottom: 1px solid #ececec;
}

/* LISTS */
.ul-projects, .ul-tasks {
    margin: 0;
    /*margin-left: 20px;*/
    padding: 0;
    list-style-type: none;
}
.ul-projects li, .ul-tasks li {
    padding: 6px;
    height: 40px;
    border-bottom: 1px solid #ececec;
    line-height: 40px;
}
.ul-projects li a, .ul-tasks li a {
    font-size: 16px;
    font-weight: bold;
    color: #49a0df;
}
.ul-projects li a:hover, .ul-tasks li a:hover {
    color: #1f6ba2;
}

/* FORMS */
input[type=text] {
    height: 26px;
    width: 160px;
    background-color: #efefef;
    border: 2px solid #ececec;
    border-radius: 2px;
}
input[type=submit] {
    padding: 10px;
    font-size: 13px;
    color: #ffffff;
    background-color: #49a0df;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #cccccc;
    cursor: pointer;
    border: none;
}
input[type=submit]:hover {
    color: #ffffff;
    background-color: #1f6ba2;
}
*[disabled=disabled] {
    opacity: 0.9;
    cursor: default;
 }
 textarea {
    height: 80px;
    width: 480px;
    background-color: #efefef;
    border: 2px solid #ececec;
    border-radius: 2px;
 }
 select {
     
    padding: 6px;
    min-width: 164px;
    -webkit-appearance: listbox;
    box-sizing: border-box;
    -webkit-box-align: center;
    border: 2px solid #ececec;
    border-image: none;
    border-radius: 3px;
    white-space: none;
    /*-webkit-rtl-ordering: none;*/
    color: #696969;
    background-color: #efefef;
    /*background: none;*/
    background-image: url(/img/bg_select.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    font: 12px ;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    /*text-align: -webkit-center;*/
    cursor: pointer;
    /*background-attachment: scroll;*/
}
dl.zend_form {
    margin: auto;
    padding: 0;
    width: 640px;
}
.errors {
    color: red;
}
dl.zend_form dt {
    float: left;
    width: 120px;
    height: 29px;
    line-height: 28px;
    
    color: #49a0df;
    font-size: 14px;
    font-weight: bold;
}
dl.zend_form dd {
    padding: 0px;
    margin:0px 0px 10px 0px;
    /*width: 100%;*/
    height: 30px;
    line-height: 28px;
}
#inp_task_id, #inp_project_id {
    width: 100px;
    padding: 0 6px;
    text-align: center;
}
#inp_task_name, #inp_project_name {
    width: 468px;
    padding: 0 6px;
}
#inp_task_start_datepicker-label {
    
}
#inp_task_end_datepicker-label {
    
}
#inp_task_id-element,
#inp_task_start_datepicker-element, #inp_project_start_datepicker-element {
    float: left;
    width: 200px;
}
#inp_task_start_datepicker, #inp_project_start_datepicker {
    /*padding-left: 6px;*/
}
#inp_task_end_datepicker-element {
    
}
#tarea_task_description-element, #tarea_project_description-element {
    height: 100px;
}
/* .form-div-label {
     display: inline;
     height: 26px;
     width: 150px;
}*/
.form-div-elt {
    /*display: inline;*/
}
.form-row {
    margin-bottom: 0px;
}
.form-row-submit {
    clear: both;
    /*width: 90%;*/
    margin: 0px;
    padding-right: 50px;
    text-align: right;
}
.form-elt-label {
    font-weight: bold;
    color: #757575;
}


