/* 
    Document   : task
    Created on : 29 nov. 2012, 20:34:43
    Author     : charlescoudrais
    Description:
        Purpose of the stylesheet follows.
*/

.div-task-notes {
    margin: auto;
    width: 96%;
}

.ul-tasks {
    margin: 0;
    /*margin-left: 20px;*/
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 2px #cccccc;
}
.ul-tasks li {
    padding: 6px;
    height: 40px;
    border-bottom: 1px solid #ececec;
    line-height: 40px;
}
.ul-tasks li:last-child {
    padding: 6px;
    height: 40px;
    border-bottom: none;
    line-height: 40px;
}
.ul-tasks li:hover {
    background-color: #f4f4f4;
    /*cursor: pointer;*/
}
.ul-tasks li a {
    font-size: 16px;
    font-weight: bold;
    color: #49a0df;
}
.ul-tasks li a:hover {
    color: #1f6ba2;
}

h2.h2-task-notes {
    margin-bottom: 16px;
    color: #d88e30;
    text-align: center;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.ul-task-notes {
    padding: 6px;
    margin-left: 20px;
}
    
.li-task-note {
    padding: 6px;
    /*height: 20px;*/
    list-style-type: square;
}
.li-task-note a {
    font-size: 14px;
    font-weight: bold;
    color: #49a0df;
}
.li-task-nonote {
    padding: 6px;
    height: 40px;
    list-style-type: none;
    font-size: 14px;
    color: orange;
    font-weight: bold;
}
.li-task-nonote a {
    font-size: 14px;
    font-weight: bold;
    color: #49a0df;
}

/* FORM */
#inp_task_id {
    width: 100px;
    padding: 0 6px;
    text-align: center;
}
#inp_task_name {
    width: 468px;
    padding: 0 6px;
}
#inp_task_start_datepicker-label {
    
}
#inp_task_end_datepicker-label {
    
}
#inp_task_id-element,
#inp_task_start_datepicker-element {
    float: left;
    width: 200px;
}
#inp_task_start_datepicker {
    /*padding-left: 6px;*/
}
#inp_task_end_datepicker-element {
    
}
#tarea_task_description-element {
    height: 100px;
}
/* END FORM */