/* 
    Document   : task
    Created on : 29 nov. 2012, 20:34:43
    Author     : charlescoudrais
    Description:
        Purpose of the stylesheet follows.
*/

.div-task-notes {
    margin: auto;
    width: 96%;
}

.ul-tasks {
    margin: 0;
    /*margin-left: 20px;*/
    padding: 0;
    list-style-type: none;
    /*box-shadow: 0px 0px 2px #cccccc;*/
}
.ul-tasks li {
    padding: 6px;
    height: 40px;
    border-bottom: 1px solid #ececec;
    line-height: 40px;
}
.ul-tasks li:last-child {
    /*padding: 6px;*/
    /*height: 40px;*/
    /*border-bottom: none;*/
    /*line-height: 40px;*/
}
.ul-tasks li:hover {
    background-color: #f4f4f4;
    /*cursor: pointer;*/
}
.ul-tasks li a {
    font-size: 14px;
    font-weight: bold;
    color: #49a0df;
    text-decoration: none;
}
.ul-tasks li.li-notasks a {
    font-size: 12px;
    font-weight: 400;
    color: #D88E30;
    text-decoration: none;
}
.ul-tasks li.li-notasks a:hover {
    color: #b96b08;
}
.ul-tasks li a:hover {
    color: #1f6ba2;
}
.ul-tasks li.li-notasks {
    border: 0px;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
}
.ul-tasks li.li-notasks:hover {
    background-color: none;
}


h2.h2-task-notes {
    margin-bottom: 16px;
    color: #d88e30;
    text-align: center;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.ul-task-notes {
    padding: 6px;
    margin-left: 20px;
}
    
.li-task-note {
    padding: 6px;
    /*height: 20px;*/
    list-style-type: square;
}
.li-task-note a {
    font-size: 13px;
    font-weight: bold;
    color: #49a0df;
}
.li-task-nonote {
    padding: 6px;
    height: 40px;
    list-style-type: none;
    font-size: 13px;
    color: orange;
    font-weight: bold;
}
.li-task-nonote a {
    font-size: 13px;
    font-weight: bold;
    color: #49a0df;
}

.tb-to-task-links {
    /*width: 236px;*/
    margin: 2px auto;
    background-color: #49a0df;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #cccccc;
}
.tb-to-task-links:hover {
    background-color: #1f6ba2;
}
.td-to-task-link-a {
    padding: 2px 0px 0px 2px;
    /*height: 24px;*/
    width: 30px;
    text-align: right;
}
.td-to-task-link-b {
    padding: 2px 0px 0px 2px;
    /*height: 24px;*/
    width: 100px;
    text-align: left;
}


.tb-tasks-header a {
    font-size: 12px;
    font-weight: 400;
    color: #D88E30;
    text-decoration: none;
}
.tb-tasks-header a:hover {
    color: #b96b08;
}

.tb-tasks {
    width: 100%;
    margin-top: 20px;
}
.tb-tasks tr {
    
}
.tb-tasks tr:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}
.tb-tasks tr:first-child:hover {
    background-color: transparent;
    cursor: default;
}
.tb-tasks th {
    padding: 6px;
    text-align: left;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.tb-tasks th:first-child {
    border-left: none;
}
.tb-tasks th:last-child {
    
}
.tb-tasks td {
    height: 30px;
    padding: 6px;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.tb-tasks a {
    font-size: 14px;
    font-weight: 400;
    color: #49a0df;
    text-decoration: none;
}
.tb-tasks td:first-child {
    border-left: none;
}
.tb-tasks td:last-child {
    
}

/* FORM */
#inp_task_id {
    width: 100px;
    padding: 0 6px;
    text-align: center;
}
#inp_task_name {
    width: 468px;
    padding: 0 6px;
}
#inp_task_start_datepicker-label {
    
}
#inp_task_end_datepicker-label {
    
}
#inp_task_id-element,
#inp_task_start_datepicker-element {
    float: left;
    width: 200px;
}
#inp_task_start_datepicker {
    /*padding-left: 6px;*/
}
#inp_task_end_datepicker-element {
    
}
#tarea_task_description-element {
    height: 100px;
}
/* END FORM */